# ignore anything in migrations folder but __init__.py

mothulity/migrations/*
!mothulity/migrations/__init__.py

# ignore anything in upload folder but .keepit

mothulity/upload/*
!mothulity/upload/.keepit

# ignore pyc files

mothulity/*pyc

# ignore everything in __pycache__

mothulity/__pycache__/*

# ignore django-specific files

db*
manage.py
